#contact{
    display: flex;
    flex-direction: column;
    margin-top:7vw ;
    height: 45vw;
    color: whitesmoke;
}
#contactContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 10vw 10vw;
}
#detailsAndBtns{
    display: flex;
    align-items: flex-end;
}
#contactDatails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: calc(0.6vw + 10px);
    margin: 0 15vw 3vw 0;
}
#socialBtns{
    display: flex;
    margin: 0 0 3vw;
}
#contactTitle{
    text-align: left;
    margin: 0 0 4vw 5vw;
    margin-top: calc(17vw - 20px);
    font-size: calc(2vw + 9px);
}
#subTitlt{
    font-size: calc(1vw + 10px);
    margin: 0 0 1.5vw 0;
}
#btnContainer{
    margin: 0 10vw 0 0;
    display: flex;
    flex-direction: column;
}
#githubBtn{
    display: flex;
    flex-direction: column;
}
.btnText{
    font-size: calc(0.4vw + 8px);
    color: whitesmoke;
}
#btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(3.5vw + 8px);
    background: rgba(0, 0, 0, 0);
    border: 0;
}
#btn:active > #inIcon{
    box-shadow: 0 0 1vw rgba(255,255,255,0.3);
}
#btn:hover{
    text-decoration: none;
}
#inIcon{
    width: calc(3vw + 10px);
    border-radius: 50%;
}

