
.projectBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    background: rgba(0, 0, 0, 0);
    margin: 5vw 0 0 10vw;
    padding: 0;
}
#projectLink{
    height: 18vw;
    width: 25vw;
    border: 0.1vw solid rgb(234, 230, 243);
    border-radius: 50%;
}
.projectBtn:hover > #projectLink{
    box-shadow: 0 0 1.5vw rgba(96, 95, 111, 1);
}
.projecDescription{
    width: calc(25vw + 100px);
    margin: 0 4vw 0 10px;
    text-align: left;
    font-size: calc(0.6vw + 10px);
}
.descriptionTitle{
    text-align: left;
    margin: 0 0 0.5vw 0;
    font-size: calc(1vw + 10px);
}
#imgWidh{
    width:100%;
}
.projectBtn:active{
    outline:none;
}
.modalHeader{
    position: relative;
}
#close{
    position: absolute;
    right: 3%;
}
#close:active{
    outline:none;
}
#modalTitle{
    padding-left: 1.5vw;
}