
#uxUiProjectsTitle{
    margin: 37vw 10vw 2vw 0;
    text-align: right;
    font-size: calc(2vw + 9px);
}
.designProRight{
    display: flex;
    justify-content: flex-end;
}
#projectContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



